@font-face {
    font-family: DIN2014;
    src: url(./fonts/din-2014.otf) format('truetype');
}

@font-face {
    font-family: Andale Mono;
    src: url(./fonts/andalemo.ttf) format('truetype');
}

body {
    font-family: DIN2014;
    margin: 0;
    line-height: 1.4;
}

:root {
        --primary-color-main:hsl(208.7, 74.19%, 12.16%);
        --secondary-color-main:hsl(208.31, 63.12%, 27.65%);
        --secondary-color-body:hsl(208.31, 62%, 19%);
        --primary-color-link:hsl(202.73, 61.68%, 58.04%);
        --dark-text:hsl(0, 0%, 100%);
        
    }

/* Responsive font sizes */
h1 {
  font-size: clamp(64px, 6vw, 96px);
  font-weight: bold;
  letter-spacing: 0.03em; /* 3% */
}

h2 {
  font-size: clamp(48px, 5vw, 72px);
  letter-spacing: 0.03em; /* 3% */
}

h3 {
  font-size: clamp(32px, 4vw, 64px);
  letter-spacing: 0.03em; /* 3% */
}

h4 {
  font-size: clamp(32px, 2,5vw, 48px);
  letter-spacing: 0.03em; /* 3% */
}

p {
    font-weight: light;
    font-size: clamp(16px, 0.8rem + 1vw, 24px);
}

details p {
    font-family: Andale Mono;
    font-size: clamp(16px, 0.8rem + 1vw, 24px);
}


.logo {
    width: 125px
}

header {
    position: relative;        /* zorgt ervoor dat die menu in de header blijft */
    height: 80px;              /* Vaste hoogte */
    display: flex;
    justify-content: center;   /* Logo centreren */
    align-items: center;
}

header button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%); /* Centreert op de y-as binnen de header */
    background: none;
    border: none;
    cursor: pointer;
}


nav {


}    

nav ul {
    width: 50%;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--dark-text);
}

nav a:hover {
  text-decoration: underline;
}

/* button netter */
button {
   border:none;
   background-color:transparent;
   cursor: pointer;   
}

nav[popover] {
    display: none;
    
}

nav:popover-open {
    display: flex;
    flex-direction: column;
    position: fixed;
    border: none;
    inset: 0 0 0 auto; /* rechts */
    width: 50%;
    height: 100%;
    padding: 2rem;
    background-color: var(--secondary-color-main);
}

    
.close-menu {
    margin-left: 0px;
}

main {
    font-family: DIN 2014;
    color: var(--dark-text);
    background-color: var(--primary-color-main);
    padding-inline: 1%;
}

.content-article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


}

.content-article-text {
    width: 50%;
}

.d3-image {
    align-self: flex-end;
    width: 50%;
}

.assets-image {
    width: 100%;
}






footer{
    padding-inline: 1%;
}